/* Book.css */

.bookappointmentpage {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.bookappointmentpage h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.bookappointmentpage p {
    font-size: 16px;
    margin-bottom: 10px;
}


.bookappointmentpage th,
.bookappointmentpage td {
    border: 1px solid #6565654b;
    padding: 10px;
}

.bookappointmentpage table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-top: 1px solid black;
}

.bookappointmentpage th {
    background-color: #d5d5d5;
    font-weight: bold;
}

.bookappointmentpage .rowoftable {
    transition: all 0.2s ease;
}

.bookappointmentpage .rowoftable:hover {
    font-weight: 400;
    cursor: pointer;
    /* color: #0056b3; */
    border-left: 2px solid rgb(0, 157, 255);
    transition: all 0.2s ease;
    background-color: #f8f8f8;

}

.bookappointmentpage .selected-therapist {
    margin-bottom: 20px;
}

.bookappointmentpage .selected-therapist h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.bookappointmentpage .selected-therapist p {
    font-size: 16px;
    margin-bottom: 5px;
}

.bookappointmentpage .appointment-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.bookappointmentpage .appointment-button:hover {
    background-color: #45a049;
}

.bookappointmentpage Link {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    text-decoration: underline;
    color: #007bff;
}

.bookappointmentpage Link:hover {
    color: #0056b3;
}